@charset 'utf-8';

html, body { height: 100%; }
* { padding: 0; margin: 0; box-sizing: border-box; }
ul, li { list-style: none;}
body { font: 14px/1.4 sans-serif; background-size: cover; background-attachment: scroll; background-position: center; filter: opacity(50); display: flex; align-items: center; justify-content: center;}

.wrap { text-shadow: 1px 1px 5px #fff; text-align: center;}
.greeting { font-size: 20px; margin-bottom: 20px; text-align: center;}
time { font-size: 20px; }

.js-form,
.greeting { display: none; }
 button { width: 20px; text-align: center; margin-left: 5px; }
.js-toDoForm  { margin-bottom: 20px; }
 .js-toDoForm input { width: 100%; height: 30px; padding: 0 10px; }

 .js-toDoList  { text-align: left; }
 .js-toDoList::before { content: '해야 할 일 목록'; display:block; font-size: 16px; margin-bottom: 10px; }
 .js-toDoList li { margin-bottom: 5px; }
 .js-toDoList li:before { content: "-"; }


 .js-weather { font-size: 20px; color: #fff; }


